@import '../mixins';

main {
  min-height: 100vh;
  min-width: 100%;
  background-repeat: no-repeat;
  background-image: url('../../img//585646.png');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;

  .form-container {
    background-color: white;
    width: 90%;
    padding: 10px;
    max-width: 1000px;
    border-radius: 0;
    box-shadow: 0px 2px 2px 2px rgba(0, 0, 0, 0.42);
    border: none;

    @include md {
      width: 80%;
      padding: 20px;
    }

    .title {
      color: $primary;
      text-align: center;
    }

    .content {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;

      @include md {
        flex-wrap: nowrap;
      }

      .contact {
        display: flex;
        align-content: flex-start;
        flex-wrap: wrap;
        order: 2;

        @include md {
          order: 1;
        }

        a.contact-source {
          width: 100%;
          text-decoration: none;
          margin-bottom: 5px;
          color: $gray-800;

          @include md {
            margin-bottom: 10px;
            width: 80%;
          }

          &::before {
            content: '';
            display: inline-block;
            height: 1em;
            width: 1em;
            background-color: $primary;
            margin-right: 10px;
            mask-repeat: no-repeat;
            mask-size: contain;
            mask-position: center;
          }

          &:hover {
            color: $primary;
          }

          &:nth-child(4) {
            &::before {
              background-color: transparent;
            }
          }
        }

        @mixin icon($name) {
          mask-image: url('../../img/icons/#{$name}.svg');
        }

        .mail {
          &::before {
            @include icon('mail')
          }
        }

        .location {
          &::before {
            @include icon('location')
          }
        }

        .phone {
          &:not(:last-child) {
            &::before {
              @include icon('phone')
            }
          }

        }
      }

      .form {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-areas: "content content"". submit-button";
        gap: 10px;
        margin-bottom: 10px;
        order: 1;

        @include md {
          order: 2;
          margin-bottom: 0;
        }

        .ng-invalid.ng-touched {
          border-color: red;
        }

        input,
        select,
        textarea {
          border: solid 1px $gray-800;
          background-color: transparent;
          padding: 8px;
          grid-column: span 2;


          @include md {
            grid-column: span 1;
          }

          &:nth-child(5),
          &:nth-child(6),
          &:nth-child(11) {
            grid-column: span 2;
          }

          &:hover,
          &:focus,
          &:focus-visible {
            border: solid 1px $primary;
            outline: none;
          }

          &:focus,
          &:focus-visible {
            box-shadow: 0 0 1px 2px rgba($color: $primary, $alpha: 0.4);
          }
        }

        input {
          &::placeholder {
            color: $gray-800;
          }
        }

        select {
          option[disabled] {
            &:first-child {
              color: $gray-800;
            }
          }
        }

        .submit-container {
          grid-column: span 2;
          display: flex;

          button[type='submit'] {
            background-color: $primary;
            cursor: pointer;
            color: white;
            border: none;
            padding: 15px 0;
            width: 50%;
            margin-left: auto;

            &:disabled {
              background-color: $gray-800;
              color: gray;
            }
          }
        }
      }
    }
  }

}