<main>
  <div class="form-container">
    <h2 class="title">Contacto</h2>
    <div class="content">
      <div class="contact">
        <a href="mailto:consultas@correo.com" class="contact-source mail"
          >consultas@correo.com</a
        >
        <a href="" class="contact-source location"
          >Av. 16 de julio Nro. 8 - Ciudad - Pais</a
        >
        <a href="" class="contact-source phone">(01)345-3453</a>
        <a href="" class="contact-source phone">(01)345-3453</a>
      </div>
      <form class="form" [formGroup]="userform" (ngSubmit)="onSubmit()">
        <select name="sex" id="sex" formControlName="sex">
          <option value="0" disabled selected hidden>Sexo</option>
          <option value="Hombre">Hombre</option>
          <option value="Mujer">Mujer</option>
        </select>
        <input
          type="date"
          name="date_birthday"
          id="date_birthday"
          placeholder="Fecha de nacimiento"
          formControlName="date_birthday"
        />
        <input
          type="text"
          name="name"
          id="name"
          placeholder="Nombre"
          formControlName="name"
        />
        <input
          type="text"
          name="last_name"
          id="last_name"
          placeholder="Apellido"
          formControlName="last_name"
        />
        <input
          type="text"
          name="email"
          id="email"
          placeholder="Email"
          formControlName="email"
        />
        <input
          type="text"
          name="address"
          id="address"
          placeholder="Dirección"
          formControlName="address"
        />
        <input
          type="text"
          name="place"
          id="place"
          placeholder="casa/apartamento"
        />
        <select name="country" id="country" formControlName="country">
          <option value="0" hidden disabled selected>País</option>
          <option value="Colombia">Colombia</option>
          <option value="Ecuador">Ecuador</option>
          <option value="Peru">Peru</option>
        </select>
        <select name="Department" id="Department" formControlName="Department">
          <option value="0" hidden disabled selected>Departamento</option>
          <option value="Cundinamarca">Cundinamarca</option>
          <option value="Valle">Valle</option>
        </select>
        <select name="city" id="city" formControlName="city">
          <option value="0" hidden disabled selected>Ciudad</option>
          <option value="Bogota">Bogotá</option>
          <option value="Cali">Cali</option>
        </select>
        <textarea
          name="comment"
          id="comment"
          cols="30"
          rows="3"
          placeholder="Comentarios"
          formControlName="comment"
        ></textarea>
        <p>Form Status: {{ userform.status }}</p>
        <div class="submit-container">
          <button type="submit" [disabled]="!userform.valid">Enviar</button>
        </div>
      </form>
    </div>
  </div>
</main>
